body {
    background-image: url('../images/architecture-boat-bridge-498706.jpg');
    background-size: cover;
}

.execute {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 90%;
    margin-top: 60%;
    margin-left: 10%;
    height: 100%;
    width: 100%;
}