.slider .btn {
    margin-top: 20px;
}

.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
    position: absolute;
    width: 100%;
    text-align: center;
}

.city-images {
    height: 250px;
    overflow: hidden;
}

.section-follow .fa-4x {
    margin: 5px 10px;
}

.section-contact h5 {
    margin-bottom: 30px;
}

#submit {
    background-color: #004d40;
}